@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C7C6E7 !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #000D1E;
    font-size: 18px;
    color: #FFFBFC;
    font-family: "Montserrat", sans-serif;
    border-radius: 0 0 30px 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.left-cont {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 61px;
    background-color: #000D1E;
    opacity: 67%;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.menu-cont p {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
}

.line {
    width: 1px;
    height: 35px;
    background-color: #FCF5FB;
}

.left-cont {
    margin-top: 65px;
}

.right-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-cont h2 {
    margin-bottom: 21px;
}

/* Медиа-запрос для маленьких устройств, например, iPhone 5/SE */
@media only screen and (max-width: 320px) {
    .header {
        height: 60px;
        font-size: 16px;
    }
    
    .content {
        margin-top: 80px;
    }
    
    .left-cont {
        width: 250px;
        height: 50px;
        margin-top: 60px;
    }
    
    .menu-cont p {
        font-size: 8px;
    }
    
    .line {
        height: 30px;
    }
    
    .right-cont h2 {
        margin-bottom: 18px;
    }
}

/* Медиа-запрос для средних устройств, например, iPhone 6/7/8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
    .header {
        height: 70px;
    }
    
    .content {
        margin-top: 90px;
    }
    
    .left-cont {
        width: 280px;
        height: 55px;
        margin-top: 70px;
    }
    
    .menu-cont p {
        font-size: 9px;
    }
    
    .line {
        height: 32px;
    }
    
    .right-cont h2 {
        margin-bottom: 20px;
    }
}

/* Медиа-запрос для больших устройств, например, iPhone 6/7/8 Plus */
@media only screen and (min-width: 376px) and (max-width: 414px) {
    .header {
        height: 75px;
    }
    
    .content {
        margin-top: 100px;
    }
    
    .left-cont {
        width: 300px;
        height: 60px;
        margin-top: 80px;
    }
    
    .menu-cont p {
        font-size: 10px;
    }
    
    .line {
        height: 34px;
    }
    
    .right-cont h2 {
        margin-bottom: 22px;
    }
}
