@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: hidden; /* Запрет скроллинга */
    touch-action: none; /* Запрет жестов зума и панорамирования */
    background-color: #4e54c8;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #000D1E;
    font-size: 18px;
    color: #FFFBFC;
    font-family: "Montserrat", sans-serif;
    border-radius: 0 0 30px 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 76px;
}

.content h2 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
}

.left-cont {
    position: fixed; /* Используйте absolute, если контейнер должен относительно родителя позиционироваться */
    bottom: 0; /* Прижимаем к низу экрана */
    left: 15px; /* Отступ слева */
    right: 15px; /* Отступ справа */
    display: flex;
    flex-direction: row;
    height: 71px;
    background-color: #000D1E;
    opacity: 67%;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px; /* Отступ снизу */
}

.menu-cont p {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
}

.line {
    width: 1px;
    height: 35px;
    background-color: #FCF5FB;
}

.right-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Или absolute, если это должно быть в контексте родительского элемента */
    bottom: 150px;
}

.right-cont h2 {
    margin-bottom: 21px;
}

.right-cont img {
    transition: transform 0.05s;
    cursor: pointer;
}

.area{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остаётся на месте при прокрутке */
    z-index: 1; /* Сидит сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Чёрный с прозрачностью */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
.modal-content {
    position: fixed;
    bottom: -100%; /* Старт снизу */
    background-color: #4e54c8;
    width: 100%; /* Ширина во всю ширину */
    min-height: 500px;
    border-radius: 20px 20px 0 0; /* Скругление верхних углов */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.4s forwards; /* Animation will "stick" at the end */
    color: #FCF5FB;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
  
  /* Animations */
@keyframes slideIn {
    from {bottom: -100%; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -100%; opacity: 0}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.modal-text {
    /* Стили для текстового блока внутри .modal-content */
    padding-top: 13px;
    padding-left: 13px;
    /* Аналогично, можно добавить отступы справа и снизу */
}

@media (max-width: 768px) {
    .content h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 568px) {
    .content h2 {
        margin-bottom: 10px;
    }
}
